/* styles for my portal page */

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    background: beige;
}

#wrapper {
    max-width:1200px;
    margin:20px auto;
}

nav{
    height:60px;
    background:brown;
    line-height:60px;
    margin-bottom:20px;
}

nav li{
    float:left;
    width:16.66%;
    text-align:center;
    list-style-type: none;
}
nav a {
    color:white;
    text-decoration:none;
}

main {
    width:62%;
    float:left;
}

aside {
    width:35%;
    float:right;
}

footer {
    height:60px;
    line-height:60px;
    background:#ddd;
    clear:both;
}

 footer ul {
    display:flex;
    justify-content: center;
    list-style-type: none;
} 

footer li{
    justify-content: center;
    margin:0 15px; 
} 
 



 .center {
    width: 150px; /* Specify your desired width */
    margin: 0 auto; /* This centers the element horizontally */
}
/* typorgraphy */

h1 {
    text-align:center;
    font-size:3em;
    margin:20px 0;
}

h2 {
    font-size:2em;
    text-align:center;
    margin-bottom:20px;
}

main h2, aside h2, h3 {
    text-align:left;
}
  